body{
	background: white;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 2px solid black;
}

#header-nav h1 {
	text-align: left;
	margin-bottom: auto;
	margin-top: auto;
	color: black;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid white;
}

/** END HEADER **/

/**MAIN PAGE**/
h1{
	text-align: center;
}
section{
	background: gray;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 2px solid black;
}

h2{
	text-align: center;
	font-weight: bold;
}
section p{
	margin-left: 5px;
	margin-right: 5px;
}
/** END MAIN PAGE**/

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-6{
  	float: left;
  }
  .col-mf-12{
  	float: left;
  }
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    hr{
	border: 1px solid black;
}

#collapsable-nav {
	background: white;
	clear:both;
	border-top: 2px solid black;
}
#nav-list a{
	background: white;
	border: none;
	text-align: center;
	clear:both;
}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  
  hr{
	border: 1px solid black;
}

#collapsable-nav {
	background: white;
	clear:both;
	border-top: 2px solid black;
}
#nav-list a{
	background: white;
	border: none;
	text-align: center;
	clear:both;
}
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  hr{
	border: 1px solid black;
}

#collapsable-nav {
	background: white;
	clear:both;
	border-top: 2px solid black;
}
#nav-list a{
	background: white;
	border: none;
	text-align: center;
	clear:both;
}
}